[Unit]
Description=VControlD Vitoconnect Bridge
After=syslog.target systemd-udev-settle.service

[Service]
Type=exec
ExecStart=/usr/local/sbin/vcontrold-vitoconnect
Environment="PYTHONUNBUFFERED=1"
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=120
StandardOutput=file:/var/log/vcontrold-vitoconnect.log

[Install]
WantedBy=multi-user.target
